* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.main {
  height: 100%;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.signPage {
  border: 1px solid;
  padding: 10px 20px;
  background-color: rgb(194, 189, 189);
  border-radius: 20px;
  text-decoration: none;
  opacity: 0.5;
  color: white;
}
.signPage:hover {
  color: rgb(33, 86, 113);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.topBody {
  /* padding-top: 15px; */
  background-image: linear-gradient(
    168deg,
    rgb(201, 63, 182),
    yellow,
    rgb(202, 77, 43) 50%,
    white 50%
  );
  animation-name: topAni;
  background-repeat: no-repeat;
  padding-left: 90px;
  animation-duration: 4s;
}

@keyframes topAni {
  0% {
    background-color: rgb(147, 46, 150);
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: rgb(229, 255, 0);
  }
  100% {
    background-color: rgb(237, 18, 6);
  }
}

.headerStripe {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  /* background-color: rgb(248, 250, 248); */
}

@media only screen and (max-width: 600px) {
  .content_a {
    /* display: flex;
    flex-direction: column; */
    font-size: 15px;
    padding: 2px;
    margin-left: -220px;
    width: 300px;
  }
  .content_b {
    /* display: flex;
    flex-direction: column; */
    font-size: 5px;
    /* padding-left: 2px;
    margin-left: 0px;
    width: 400px; */
  }
  .contentImg {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    padding: 2px;
  }
  .topBody {
    display: flex;
    flex-direction: column;
    /* padding: 0px; */
  }
  .headerStripe {
    display: flex;
    flex-direction: column;
    padding-left: -50px;
    font-size: 12px;
    margin-left: -500px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(14, 13, 13);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 30px;
  /* justify-content: center; */
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(14, 10, 10);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 30px;
  justify-content: center;
  text-decoration: none;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(32, 124, 47);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  margin-right: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.content {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  justify-content: space-between;
  /* margin-left: 140px; */
  padding-left: 150px;
  font-size: 40px;
}
.content_a {
  margin-top: 30px;
}
.content_b {
  font-size: 20px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.startNow {
  margin-top: 10px;
}

.btn {
  padding: 8px 16px;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  border: 0px;
}
.btn:hover {
  background-color: #c9c5c5;
  font-weight: bold;
}
.nowl {
  font-size: 17px;
  color: black;
  border-bottom: 0px;
  text-decoration: none;
}
.nowl:hover {
  color: #b9b5b5;
  font-weight: bold;
}
.clients {
  display: flex;
  flex-direction: column;
}
.client_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  margin-right: 140px;
  margin-left: 140px;
  /* margin-bottom: 40px; */
}
.client2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  margin-right: 140px;
  margin-left: 140px;
}
.stripeParagraph {
  margin-top: 50px;
  padding-left: 250px;
  font-size: 25px;
  background-color: rgba(240, 240, 240, 0.705);
  padding-top: 100px;

  /* width: 100%; */
}
.leftRight {
  display: flex;
  flex-direction: row;
  position: relative;
  text-decoration: none;
}
.leftRight a {
  text-decoration: none;
  color: blue;
}
.leftRight a:hover {
  color: black;
}
.stripePleft {
  width: 550px;
  font-size: 25px;
}
.stripePright {
  width: 550px;
  font-size: 25px;
  margin-left: 60px;
}
.aFullyIn {
  width: 500px;
}
@media only screen and (max-width: 600px) {
  .clients {
    flex-direction: row;
    padding-left: -15px;
  }
  .client2 {
    flex-direction: column;
    margin-top: 5px;
    margin-left: -70px;
  }
  .client_1 {
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .startNow {
    width: 220px;
  }
  .stripeParagraph {
    margin-left: -200px;
    padding-left: -200px;
  }
  .aFullyIn {
    width: 400px;
    font-size: 20px;
  }
  .leftRight {
    flex-direction: column;
    font-size: 15px;
  }
  .stripePright {
    margin-left: -5px;
    font-size: 18px;
    width: 500px;
  }
  .stripePleft {
    font-size: 18px;
    width: 500px;
  }
}
.btn3 {
  background-color: rgb(80, 80, 233);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  margin-bottom: 40px;
}
.btn3:hover {
  background-color: black;
}
.animationPage {
  background-image: linear-gradient(
    168deg,
    rgb(238, 240, 241) 50%,
    rgb(238, 240, 244) 50%
  );
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.ATM {
  width: 350px;
  height: 210px;
  background-color: aquamarine;
  animation-fill-mode: both;
  border-radius: 10px;
  margin-right: 40px;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.atmSlack {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  padding-left: 140px;
}
.atmName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slackForm {
  width: 500px;
  height: 400px;
  background-image: linear-gradient(
    168deg,
    rgb(65, 6, 80) 50%,
    rgb(252, 252, 254) 50%
  );
  border-radius: 10px;
}
.sImg {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
  border-radius: 10px;
}
.phone {
  margin-left: 40px;
  margin-top: -50px;
  border-radius: 10px;
}
.up {
  display: flex;
  flex-direction: row;
}
.down {
  display: flex;
  flex-direction: row;
  padding-left: 150px;
}
.imgDown {
  margin-top: -130px;
  margin-left: 90px;
  margin-right: 28px;
}
.imgDown2 {
  margin-top: 10px;
}
.downContent {
  background-image: linear-gradient(
    168deg,
    rgb(3, 15, 68) 50%,
    rgb(3, 15, 68) 50%
  );
  padding-left: 170px;
  padding-top: 90px;
  display: flex;
  flex-direction: row;
}
.downContent1 {
  width: 320px;
  margin-right: 100px;
}
.downContent1_a {
  color: aqua;
}
.downContent1_b {
  color: white;
}
.downContent1_c {
  color: #a3abaf;
  margin-top: 15px;
}
.downContentbtn {
  border-radius: 20px;
  background-color: aqua;
  padding: 7px 15px;
  margin-top: 20px;
}
.videoAnimated {
  width: 600px;
  height: 500px;
}
@media only screen and (max-width: 600px) {
  .up {
    flex-direction: column;
    margin-bottom: 10px;
    padding-left: -10px;
    margin-top: -30px;
  }
  .ATM {
    margin-left: -60px;
    margin-top: -30px;
  }
  .slackForm {
    margin-left: -130px;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .animationPage {
    flex-direction: column;
  }
  .atmSlack {
    flex-direction: column;
  }
  .phone {
    margin-left: 100px;
  }
  .down {
    flex-direction: column;
    margin-left: -90px;
  }
  .fraudRisk {
    width: 500px;
    height: 350px;
  }
  .imgDown {
    margin-left: 20px;
    margin-top: 40px;
  }
  .imgDown2 {
    margin-left: -50px;
  }
  .downContent {
    flex-direction: column;
  }
  .downContent1 {
    width: 300px;
    margin-left: -80px;
  }
  .videoAnimated {
    width: 400px;
    height: 400px;
    margin-left: -80px;
    margin-top: 20px;
  }
}
.animationTerminal {
  background-image: linear-gradient(
    175deg,
    rgb(3, 15, 68) 50%,
    rgba(240, 240, 240, 0.705) 50%
  );
  display: flex;
  flex-direction: row;
  padding-left: 140px;
  padding-top: 200px;
  padding-bottom: 700px;
}
.animationTerminal12 {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
.animationTerminal34 {
  display: flex;
  flex-direction: row;
}
.smallBox {
  height: 50px;
  width: 50px;
  background-color: aqua;
  border-radius: 10px;
  margin-left: 15px;
  box-shadow: 5px 5px 5px 5px rgb(48, 78, 78);
}
.smallBoxContent {
  width: 200px;
  margin-left: 15px;
  margin-top: 30px;
}
.smallCircle {
  height: 50px;
  width: 50px;
  background-color: aqua;
  border-radius: 25px;
  margin-left: 15px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 5px rgb(67, 100, 100);
}
.animationTerminal2 {
  margin-left: 70px;
}
.animationTerminal3 {
  margin-left: 70px;
}
.animationTerminal4 {
  margin-left: 70px;
}
.technologyFirst {
  margin-top: -400px;
  padding-left: 150px;
  padding-bottom: -20px;
}
.technologyFirst_a {
  width: 600px;
  font-size: 20px;
  margin-left: 10px;
}
.technologyFirst_b {
  display: flex;
  flex-direction: row;
}
.technologyFirst_b1 {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
.technologyFirst_b2 {
  display: flex;
  flex-direction: row;
  /* padding-bottom: 30px; */
}
.technologyFirst1 {
  margin-right: 70px;
  /* padding-bottom: 40px; */
}
.technologyFirst2 {
  margin-right: 70px;
}
.technologyFirst3 {
  margin-right: 70px;
}
.techLink {
  text-decoration: none;
  color: rgb(29, 109, 231);
}
.techLink:hover {
  color: black;
}
.planetPage {
  background-color: rgb(2, 2, 45);
  background-image: url("https://media.giphy.com/media/ffn7MSNzpV3L02IYsB/giphy.gif");
  height: 50%;
  background-size: cover;
  padding-left: 152px;
  padding-top: 90px;
  color: white;
  padding-bottom: 200px;
}
.planetPage_a {
  width: 500px;
  margin-bottom: 100px;
  font-size: 20px;
  font-family: inherit;
}
.planetPage_b {
  display: flex;
  flex-direction: row;
  padding-bottom: -200px;
  margin-bottom: -100px;
}
.planetPage_b1 {
  width: 200px;
  margin-right: 80px;
}
.planetPage_b2 {
  width: 200px;
  margin-right: 80px;
}
.planetPage_b3 {
  width: 250px;
  margin-right: 80px;
}
.planetPage_b4 {
  width: 250px;
  margin-right: 80px;
}
.planetPage_b12 {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
.planetPage_b34 {
  display: flex;
  flex-direction: row;
}
.readyGet {
  background-image: linear-gradient(
    175deg,
    rgb(255, 255, 255) 50%,
    rgba(240, 240, 240, 0.705) 50%
  );
  display: flex;
  flex-direction: row;
  padding-left: 150px;
  padding-bottom: 600px;
  /* padding-top: 100px; */
}
.readyGet1 {
  width: 300px;
  margin-right: 80px;
  margin-top: 50px;
}
.readyGet2 {
  width: 300px;
  margin-right: 80px;
  margin-top: 50px;
}
.readyGet3 {
  width: 300px;
  margin-top: 100px;
  margin-right: 80px;
}
.polygon {
  color: aqua;
}
.readyGet23 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.listPage {
  background-color: rgba(240, 240, 240, 0.705);
  display: flex;
  padding-top: -500px;
  padding-left: 150px;
  padding-bottom: 80px;
}
.listPage1 {
  margin-right: 80px;
  margin-top: -300px;
}
.listPage2 {
  margin-right: 80px;
  margin-top: -300px;
}
.listPage3 {
  margin-right: 80px;
  margin-top: -300px;
}
.listPage4 {
  margin-top: -300px;
}
listItems {
  list-style: none;
}
.listItems:hover {
  color: #b9b5b5;
}
.listPage12 {
  display: flex;
  flex-direction: row;
}
.listPage34 {
  display: flex;
  flex-direction: row;
}
.stripeFoot {
  margin-top: 360px;
}
ul {
  list-style: none;
}
@media only screen and (max-width: 600px) {
  .animationTerminal {
    flex-direction: column;
    padding-left: -140px;
    padding-top: -200px;
    margin-top: -100px;
  }
  .animationTerminal2 {
    margin-left: -15px;
    margin-top: 10px;
  }
  .smallBoxContent {
    margin-left: -15px;
    margin-top: 10px;
  }
  .smallBox {
    margin-left: -15px;
  }
  .smallCircle {
    margin-left: -15px;
  }
  .animationTerminal3 {
    margin-left: -15px;
    margin-top: 10px;
  }
  .animationTerminal4 {
    margin-left: -15px;
    margin-top: 10px;
    padding-bottom: 150px;
    color: black;
  }
  .animationTerminal12 {
    display: flex;
    flex-direction: row;
    margin-left: -50px;
    justify-content: space-around;
  }
  .animationTerminal34 {
    display: flex;
    flex-direction: row;
    margin-left: -50px;
    justify-content: space-around;
    margin-top: 10px;
  }
  .technologyFirst {
    flex-direction: column;
    margin-top: -650px;
    padding-left: -140px;
    margin-left: -120;
  }
  .technologyFirst_a {
    width: 500px;
    padding-left: -20px;
    margin-left: -50px;
  }
  .technologyFirst_b {
    flex-direction: column;
    margin-left: -50px;
  }
  .technologyFirst_b1 {
    display: flex;
    flex-direction: row;
  }
  .technologyFirst_b2 {
    display: flex;
    flex-direction: row;
  }
  .readyGet {
    flex-direction: column;
    padding-left: -140px;
    margin-left: -120px;
  }
  .readyGet23 {
    margin-top: -70px;
  }
  .planetPage {
    flex-direction: column;
    margin-left: -90px;
  }
  .planetPage_b {
    flex-direction: column;
  }
  .planetPage_b12 {
    display: flex;
    flex-direction: row;
  }
  .planetPage_b34 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .listPage {
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: -200px; */
  }
  .listPage12 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* margin-top: -380px; */
  }
  .listPage34 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .stripeFoot {
    margin-top: 0px;
  }
  .listPage1 {
    /* margin-top: -100px; */
    margin-left: -90px;
  }
  .listPage2 {
    margin-top: 10px;
    margin-left: -120px;
  }
  .listPage3 {
    margin-bottom: 300px;
  }
}
